<% if @product.finishings.count > 0 %>
  <div class="row" id="finishings" data-hook>
    <div class="add-to-cart">
      <div class="col-md-10">
        <h4><%= Spree.t(:finishings_title) %>:</h4>
        <% @product.finishings.category.each do |category| %>
          <h5><%= category.presentation %></h5>
          <% @product.finishings.subcategory(category.id).each do |finishing| %>
            <%= radio_button_tag(:finishing, "#{finishing.id}") %>
            <%= label_tag("finish-#{category.name}", "#{finishing.presentation}") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>